@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, sans-serif;
}

.container {
  max-width: 1430px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-navigation .nav__menu {
  position: fixed;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  background-color: #10504f;
  z-index: 1;
}

.header-navigation .nav__menu:not(.active) {
  display: none;
}

.header-logo img {
  width: 56px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 46px;
  }
  .header-navigation .nav__menu {
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 0 60px;
    top: unset;
    left: unset;
    background-color: transparent;
  }

  .header-navigation .nav__menu:not(.active) {
    display: flex;
  }

  .header-logo img {
    width: 93px;
  }
}
